/* Background */
.stApp {
    background: linear-gradient(135deg, #0B1026, #c209db);
    color: rgb(255, 255, 255);
}

/* Hide Streamlit Menu & Footer */
#MainMenu,
footer,
header {
    visibility: hidden;
}

/* Title */
.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg,#3B82F6,#61c8c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    text-align: center;
    color: #000000;
    font-size: 22px;
    margin-bottom: 30px;
}

/* Buttons */
.stButton > button {
    width: 100%;
    height: 50px;
    border-radius: 14px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg,#bd0573,#1a0488);
}

.stButton > button:hover{
    background: linear-gradient(90deg,#1D4ED8,#2563EB);
}

/* Text Areas */
textarea{
    border-radius:15px !important;
}

/* Select Boxes */
div[data-baseweb="select"]{
    border-radius:15px;
}
img{
    display:block;
    margin:auto;
}